    <div>
        <a href="/">Accueil</a>
        &nbsp;
        <a href="/movies">Movies</a>
        &nbsp;
        <a href="/movie-search">Recherche</a>
        &nbsp;
        <span id="connectionLink"></span>
    </div>
    