<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="../public/styles.css">
    <title>Movie details</title>
</head>
<body>
<div id="movies" class="central">
<% include ./partials/header %>
    <h1>{{title}}</h1>

    <div  v-for="movie in movies" class="french-movies">
        {{movie.movietitle}} ({{movie.movieyear}}) <a v-bind:href=`/movie-details/${movie._id}`>details</a>
    </div>
    <br>
    <div>
        <form action="/movies" method="post" >
            <label for="movietitle">Titre du film</label>
            <input type="text" name="movietitle" id="movietitle">
            <label for="movieyear">Année du film</label>
            <input type="text" name="movieyear" id="movieyear">
            <button type="submit">ajouter</button> 
        </form>
    </div>
</div>
    <% include ./partials/footer %>
</body>
</html>
<script>
    var app = new Vue({
        el: '#movies',
        data: {
            movies: [],
            title: 'Film préféré',
            url: '/movie-details',
        },
        created: () => {
            axios.get('http://localhost:3000/movielist').then((response) => {
                app.movies = response.data.frenchMovies
            })
        },
        methods: {
        }
    })
</script>